
/*CORPO*/
body{
	background-color: #696969;


}

footer{
	text-align: center;
	font-size: 80%;
	font-style: times new roman;
}
p{
	font-family: Arial;
	padding-left: 3%;
	padding-right: 3%;
	text-align: justify;

}

a{
	text-decoration: none;
}

h1{
	text-align: center;
	font-family:Monotype Corsiva;
	font-size: 400%;
	color: #c0c0c0;
}

img{
	width: 30% ;
	height:50%;
	padding: 2%;
	border-radius: 70%;

}
		

/* divs*/

#inicio{
	box-shadow: 5px 5px 50px 30px #000;;
	background-color: #ffffff;
	margin: auto;
	margin-top: -2%;
	width: 80%;
	height: auto;
	border-radius: 30px;
}

#menu{
	text-align: center;
	
}


/*menu*/

nav ul li{
	list-style: none;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	position: center;
}

nav ul li a {
	font-size: 20px;
	color: black;
	height: 50px; 
	width: 50px;
	display: block;
	width: auto;
	line-height: 50px;
	position: center;

}

nav ul li a:hover{
	color: #60afff ;
	margin-right: 15px;
	text-decoration: none;
	position: center;

}
